{% extends 'base.html' %}
{% block title %}Page Not Found | USPS{% endblock %}
{% block content %}
<h1>We're Sorry</h1>
<p>The page you requested could not be found. Try one of these popular tools:</p>
<ul class="bullets">
  <li><a href="{{ url_for('tracking_home') }}">Track a Package</a></li>
  <li><a href="{{ url_for('postcalc_home') }}">Calculate a Price</a></li>
  <li><a href="{{ url_for('locations_home') }}">Find a Post Office</a></li>
  <li><a href="{{ url_for('home') }}">USPS.com home</a></li>
</ul>
{% endblock %}
