{% extends 'base.html' %}
{% block title %}We're sorry! We can't find that page. | Cars.com{% endblock %}
{% block content %}
<div class="notfound-page">
  <h1>We're sorry! We can't find that page.</h1>
  <p>The page you requested doesn't exist on this mirror. Try one of these instead:</p>
  <ul class="link-list">
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('shopping_results') }}">Search cars for sale</a></li>
    <li><a href="{{ url_for('dealers_index') }}">Find a dealer</a></li>
    <li><a href="{{ url_for('research_home') }}">Research cars</a></li>
  </ul>
</div>
{% endblock %}
