{% extends "base.html" %}
{% block title %}Secure Shopping at US Appliance{% endblock %}
{% block crumbs %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li aria-current="page"><span>Secure Shopping at US Appliance</span></li>
{% endblock %}
{% block content %}
<section class="container text-page">
<h1 class="page-heading">Secure Shopping at US Appliance®</h1>


    <div data-content-region="page_builder_content"></div>

    <div class="page-content page-content--full">
            <p><p><span style="font-size: medium;">US Appliance also takes seriously the issue of security. We are committed to the security of your purchase at US Appliance utilizing the latest privacy and security tools.&nbsp;US Appliance ecommerce transactions are backed by leading industry encryption provided by Big Commerce.</span></p>
<p><span style="font-size: medium;">You can rest assured that when shopping at US Appliance, we've taken measures to ensure your shopping experience is always safe and secure.</span></p>
<p><br /><span style="font-size: medium;"> Thank-you,</span><br /><span style="font-size: medium;"> US Appliance</span></p></p>
    </div>
</section>
{% endblock %}
