{% extends "base.html" %}
{% block title %}Ordering Information{% endblock %}
{% block crumbs %}
<li><a href="{{ url_for('home') }}">Home</a></li>
<li aria-current="page"><span>Ordering Information</span></li>
{% endblock %}
{% block content %}
<section class="container text-page">
<h1 class="page-heading">Ordering Information</h1>


    <div data-content-region="page_builder_content"></div>

    <div class="page-content page-content--full">
            <p><h2 class="eyTwo">Finding Your Product</h2>
<p><span style="font-size: medium;">At US Appliance we offer a huge selection of major appliances, electronics and kitchen items from all of the best brands. Our navigation, shop by brand and search features will help direct you to the product you are looking for. If you need any assistance please do not hesitate to call us toll-free at <strong> 1-877-628-9913</strong> where you can speak to a 'live' person. Our friendly experts are on hand to answer any of your questions.&nbsp; Don't forget to check out helpful.</span></p>
<p><a name="pro"></a></p>
<h2 class="eyTwo">Professional Advice and Recommendations</h2>
<p><span style="font-size: medium;">Our Factory-trained sales experts are available to answer your questions regarding our products. Buying major appliances and electronics can sometimes be confusing. Our friendly and knowledgeable sales staff have an enormous amount of product knowledge and are eager to help. You may call us toll-free at <strong> 1-877-628-9913. <br /></strong> Hours: Monday - Friday: 8am - 6pm (EST)</span></p>
<p><a name="pay"></a></p>
<h2 class="eyTwo">Payment Methods</h2>
<ul>
<li><span style="font-size: medium;">Credit Cards: Visa, MasterCard, Discover, American Express. (Must be issued from a US Bank)</span></li>
<li><span style="font-size: medium;">Debit Cards with the MasterCard or Visa logo.</span></li>
<li><span style="font-size: medium;">Bank cashier's check, certified check or personal check. (By mail only - 10 day hold)</span></li>
<li><span style="font-size: medium;">Wire Transfer</span></li>
</ul>
<p><a name="our"></a></p>
<h2 class="eyTwo">Low Price Guarantee</h2>
<p><span style="font-size: medium;">At US Appliance we strive to give our customers the best service and pricing available. If you find a better price at another legitimate authorized retailer, simply call or email us with the store information or website where you found the lower price*&nbsp; You may also complete our Price Match form below</span></p>
<p><span style="font-size: medium;"><a title="Price Match Request" href="/price-match.html">PRICE MATCH REQUEST</a></span><br /><br /><span style="font-size: medium;"> *Item must be in stock from a legitimate authorized dealer. Price comparison will include all applicable order charges including, but not limited to product price, comparable service delivery charges, fees and taxes. Price match request must be received prior to purchase. Manufacturer Unilaterally Priced products, financing offers, limited quantity offers, in-store only specials, clearance or closeout prices, prices on used, damaged, returned, open box or display merchandise, gray market products, Black Friday, Cyber Monday, bundled items, freebies or rebates excluded. Qualifying decision on Low Price Guarantee rests solely with US-Appliance.</span></p>
<h2 class="eyTwo">Promo Codes, Discounts and Price Matches</h2>
<p><span style="font-size: medium;">We are unable to honor promo/coupon codes, discounts or price matches after an order has shipped.</span></p>
<p><a name="tv"></a></p>
<h2 class="eyTwo">Sales Tax</h2>
<p><span style="font-size: medium;">US Appliance collects applicable sales tax for orders shipped to AL, AR, AZ, CA, CO, CT, DC, FL, GA, IA, ID, IL, IN, KS, KY, LA, MA, ME, MD, MI, MN, MS, NE, NM, NJ, NV, NY, NC, ND, OH, OK, PA, RI, SC, SD, TN, TX, UT, VA, VT, WA, WI, WY</span><br /><br /><span style="font-size: medium;"> Note: We are not required to collect sales tax for shipping destinations outside of these states but your state might. Check with your local tax authorities for specific regulations.&nbsp; </span></p>
<p><span style="font-size: medium;"><a href="/salestaxinfo.html">more info</a></span> <a name="can"></a></p>
<h2 class="eyTwo">Canceling an Order</h2>
<p><span style="font-size: medium;">Orders may be cancelled within 48 hours as long as the item(s) have not shipped.</span><br /><span style="font-size: medium;"> Orders cancelled after 48 hours are subject to a 2% restocking fee as long as the item(s) have not shipped.</span><br /><span style="font-size: medium;"> Any orders cancelled after they have shipped could be subject to a 10% cancellation fee plus any incurred shipping expenses.</span><br /><br /><span style="font-size: medium;"><a href="/returninformation.html">See Return Policy</a></span></p>
<h2 class="eyTwo">Rebates - Save Money</h2>
<p><span style="font-size: medium;">We are an authorized retailer for every brand we carry. That means you can save hundreds of dollars on your next US Appliance purchase. Our rebate offers are continually updated so check back often.</span><br /><br /><span style="font-size: medium;"><a href="/rebates.html">Current Rebate Offers</a></span></p>
<h2 class="eyTwo">Finance Offers</h2>
<p><span style="font-size: medium;">No interest offers...and more. We offer special finance offers when you apply for and use a US Appliance Credit card issued by Synchrony Financial.</span><br /><br /><span style="font-size: medium;"><a href="/financeoffers.html">Current Finance Offers</a></span> <a name="ext"></a></p>
<h2 class="eyTwo">Warranty Coverage</h2>
<p><span style="font-size: medium;">Every new appliance comes with a manufacturer warranty (refer to owner's manual for details). At US Appliance you have the option to purchase an service protection plan for up to five years on most appliances at the time of purchase. During this period, enjoy the convenience of free parts and labor service on your appliance.</span><br /><br /><span style="font-size: medium;"> <a href="/us-appliance-warranties.html">Service Protection Plan Details</a></span></p></p>
    </div>
</section>
{% endblock %}
