{% extends "base.html" %}
{% block title %}Page not found | Carvana{% endblock %}
{% block body %}
<div class="content-page">
  <h1>We couldn&rsquo;t find that page</h1>
  <p>The page you&rsquo;re looking for doesn&rsquo;t exist in this mirror. Try one of these instead:</p>
  <ul>
    <li><a href="/cars">Search cars</a></li>
    <li><a href="/sell-my-car">Sell my car</a></li>
    <li><a href="/how-it-works">How it works</a></li>
    <li><a href="/faq">Help &amp; support</a></li>
  </ul>
</div>
{% endblock %}
